<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('ecommerceadminApp.category.home.title')" id="category-heading">Categories</span>
            <router-link :to="{name: 'CategoryCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-category">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('ecommerceadminApp.category.home.createLabel')">
                    Create new Category
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && categories && categories.length === 0">
            <span v-text="$t('ecommerceadminApp.category.home.notFound')">No categories found</span>
        </div>
        <div class="table-responsive" v-if="categories && categories.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('ecommerceadminApp.category.categoryId')">Category Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.category.clientId')">Client Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.category.depthLevel')">Depth Level</span></th>
                    <th><span v-text="$t('ecommerceadminApp.category.categoryName')">Category Name</span></th>
                    <th><span v-text="$t('ecommerceadminApp.category.categoryImage')">Category Image</span></th>
                    <th><span v-text="$t('ecommerceadminApp.category.recordStatus')">Record Status</span></th>
                    <th><span v-text="$t('ecommerceadminApp.category.parent')">Parent</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="category in categories"
                    :key="category.id">
                    <td>
                        <router-link :to="{name: 'CategoryView', params: {categoryId: category.id}}">{{category.id}}</router-link>
                    </td>
                    <td>{{category.categoryId}}</td>
                    <td>{{category.clientId}}</td>
                    <td>{{category.depthLevel}}</td>
                    <td>{{category.categoryName}}</td>
                    <td>{{category.categoryImage}}</td>
                    <td>{{category.recordStatus}}</td>
                    <td>
                        <div v-if="category.parent">
                            <router-link :to="{name: 'CategoryView', params: {parentId: category.parent.id}}">{{category.parent.name}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'CategoryView', params: {categoryId: category.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'CategoryEdit', params: {categoryId: category.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(category)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="ecommerceadminApp.category.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-category-heading" v-bind:title="$t('ecommerceadminApp.category.delete.question')">Are you sure you want to delete this Category?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-category" v-text="$t('entity.action.delete')" v-on:click="removeCategory()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./category.component.ts">
</script>
