<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerceadminApp.category.home.createOrEditLabel" v-text="$t('ecommerceadminApp.category.home.createOrEditLabel')">Create or edit a Category</h2>
                <div>
                    <div class="form-group" v-if="category.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="category.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.category.categoryId')" for="category-categoryId">Category Id</label>
                        <input type="text" class="form-control" name="categoryId" id="category-categoryId"
                            :class="{'valid': !$v.category.categoryId.$invalid, 'invalid': $v.category.categoryId.$invalid }" v-model="$v.category.categoryId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.category.clientId')" for="category-clientId">Client Id</label>
                        <input type="text" class="form-control" name="clientId" id="category-clientId"
                            :class="{'valid': !$v.category.clientId.$invalid, 'invalid': $v.category.clientId.$invalid }" v-model="$v.category.clientId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.category.depthLevel')" for="category-depthLevel">Depth Level</label>
                        <input type="number" class="form-control" name="depthLevel" id="category-depthLevel"
                            :class="{'valid': !$v.category.depthLevel.$invalid, 'invalid': $v.category.depthLevel.$invalid }" v-model.number="$v.category.depthLevel.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.category.categoryName')" for="category-categoryName">Category Name</label>
                        <input type="text" class="form-control" name="categoryName" id="category-categoryName"
                            :class="{'valid': !$v.category.categoryName.$invalid, 'invalid': $v.category.categoryName.$invalid }" v-model="$v.category.categoryName.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.category.categoryImage')" for="category-categoryImage">Category Image</label>
                        <input type="text" class="form-control" name="categoryImage" id="category-categoryImage"
                            :class="{'valid': !$v.category.categoryImage.$invalid, 'invalid': $v.category.categoryImage.$invalid }" v-model="$v.category.categoryImage.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.category.recordStatus')" for="category-recordStatus">Record Status</label>
                        <input type="number" class="form-control" name="recordStatus" id="category-recordStatus"
                            :class="{'valid': !$v.category.recordStatus.$invalid, 'invalid': $v.category.recordStatus.$invalid }" v-model.number="$v.category.recordStatus.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerceadminApp.category.parent')" for="category-parent">Parent</label>
                        <select class="form-control" id="category-parent" name="parent" v-model="category.parent">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="category.parent && categoryOption.id === category.parent.id ? category.parent : categoryOption" v-for="categoryOption in categories" :key="categoryOption.id">{{categoryOption.name}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.category.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./category-update.component.ts">
</script>
