<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="category">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerceadminApp.category.detail.title')">Category</span> {{category.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerceadminApp.category.categoryId')">Category Id</span>
                    </dt>
                    <dd>
                        <span>{{category.categoryId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.category.clientId')">Client Id</span>
                    </dt>
                    <dd>
                        <span>{{category.clientId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.category.depthLevel')">Depth Level</span>
                    </dt>
                    <dd>
                        <span>{{category.depthLevel}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.category.categoryName')">Category Name</span>
                    </dt>
                    <dd>
                        <span>{{category.categoryName}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.category.categoryImage')">Category Image</span>
                    </dt>
                    <dd>
                        <span>{{category.categoryImage}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.category.recordStatus')">Record Status</span>
                    </dt>
                    <dd>
                        <span>{{category.recordStatus}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.category.parent')">Parent</span>
                    </dt>
                    <dd>
                        <div v-if="category.parent">
                            <router-link :to="{name: 'CategoryView', params: {parentId: category.parent.id}}">{{category.parent.name}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="category.id" :to="{name: 'CategoryEdit', params: {categoryId: category.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./category-details.component.ts">
</script>
