<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerceadminApp.productVendorClient.home.createOrEditLabel" v-text="$t('ecommerceadminApp.productVendorClient.home.createOrEditLabel')">Create or edit a ProductVendorClient</h2>
                <div>
                    <div class="form-group" v-if="productVendorClient.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="productVendorClient.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.productVendorClient.clientId')" for="product-vendor-client-clientId">Client Id</label>
                        <input type="text" class="form-control" name="clientId" id="product-vendor-client-clientId"
                            :class="{'valid': !$v.productVendorClient.clientId.$invalid, 'invalid': $v.productVendorClient.clientId.$invalid }" v-model="$v.productVendorClient.clientId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.productVendorClient.vendor')" for="product-vendor-client-vendor">Vendor</label>
                        <input type="text" class="form-control" name="vendor" id="product-vendor-client-vendor"
                            :class="{'valid': !$v.productVendorClient.vendor.$invalid, 'invalid': $v.productVendorClient.vendor.$invalid }" v-model="$v.productVendorClient.vendor.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.productVendorClient.productId')" for="product-vendor-client-productId">Product Id</label>
                        <input type="text" class="form-control" name="productId" id="product-vendor-client-productId"
                            :class="{'valid': !$v.productVendorClient.productId.$invalid, 'invalid': $v.productVendorClient.productId.$invalid }" v-model="$v.productVendorClient.productId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.productVendorClient.productCategoryId')" for="product-vendor-client-productCategoryId">Product Category Id</label>
                        <input type="text" class="form-control" name="productCategoryId" id="product-vendor-client-productCategoryId"
                            :class="{'valid': !$v.productVendorClient.productCategoryId.$invalid, 'invalid': $v.productVendorClient.productCategoryId.$invalid }" v-model="$v.productVendorClient.productCategoryId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.productVendorClient.productVendorId')" for="product-vendor-client-productVendorId">Product Vendor Id</label>
                        <input type="text" class="form-control" name="productVendorId" id="product-vendor-client-productVendorId"
                            :class="{'valid': !$v.productVendorClient.productVendorId.$invalid, 'invalid': $v.productVendorClient.productVendorId.$invalid }" v-model="$v.productVendorClient.productVendorId.$model" />
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.productVendorClient.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./product-vendor-client-update.component.ts">
</script>
