<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="productVendorClient">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerceadminApp.productVendorClient.detail.title')">ProductVendorClient</span> {{productVendorClient.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerceadminApp.productVendorClient.clientId')">Client Id</span>
                    </dt>
                    <dd>
                        <span>{{productVendorClient.clientId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.productVendorClient.vendor')">Vendor</span>
                    </dt>
                    <dd>
                        <span>{{productVendorClient.vendor}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.productVendorClient.productId')">Product Id</span>
                    </dt>
                    <dd>
                        <span>{{productVendorClient.productId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.productVendorClient.productCategoryId')">Product Category Id</span>
                    </dt>
                    <dd>
                        <span>{{productVendorClient.productCategoryId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.productVendorClient.productVendorId')">Product Vendor Id</span>
                    </dt>
                    <dd>
                        <span>{{productVendorClient.productVendorId}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="productVendorClient.id" :to="{name: 'ProductVendorClientEdit', params: {productVendorClientId: productVendorClient.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./product-vendor-client-details.component.ts">
</script>
