<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('ecommerceadminApp.productVendorClient.home.title')" id="product-vendor-client-heading">Product Vendor Clients</span>
            <router-link :to="{name: 'ProductVendorClientCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-vendor-client">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('ecommerceadminApp.productVendorClient.home.createLabel')">
                    Create new ProductVendorClient
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && productVendorClients && productVendorClients.length === 0">
            <span v-text="$t('ecommerceadminApp.productVendorClient.home.notFound')">No productVendorClients found</span>
        </div>
        <div class="table-responsive" v-if="productVendorClients && productVendorClients.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('ecommerceadminApp.productVendorClient.clientId')">Client Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.productVendorClient.vendor')">Vendor</span></th>
                    <th><span v-text="$t('ecommerceadminApp.productVendorClient.productId')">Product Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.productVendorClient.productCategoryId')">Product Category Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.productVendorClient.productVendorId')">Product Vendor Id</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="productVendorClient in productVendorClients"
                    :key="productVendorClient.id">
                    <td>
                        <router-link :to="{name: 'ProductVendorClientView', params: {productVendorClientId: productVendorClient.id}}">{{productVendorClient.id}}</router-link>
                    </td>
                    <td>{{productVendorClient.clientId}}</td>
                    <td>{{productVendorClient.vendor}}</td>
                    <td>{{productVendorClient.productId}}</td>
                    <td>{{productVendorClient.productCategoryId}}</td>
                    <td>{{productVendorClient.productVendorId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'ProductVendorClientView', params: {productVendorClientId: productVendorClient.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'ProductVendorClientEdit', params: {productVendorClientId: productVendorClient.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(productVendorClient)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="ecommerceadminApp.productVendorClient.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-productVendorClient-heading" v-bind:title="$t('ecommerceadminApp.productVendorClient.delete.question')">Are you sure you want to delete this Product Vendor Client?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-productVendorClient" v-text="$t('entity.action.delete')" v-on:click="removeProductVendorClient()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./product-vendor-client.component.ts">
</script>
