<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerceadminApp.brand.home.createOrEditLabel" v-text="$t('ecommerceadminApp.brand.home.createOrEditLabel')">Create or edit a Brand</h2>
                <div>
                    <div class="form-group" v-if="brand.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="brand.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.brand.brandId')" for="brand-brandId">Brand Id</label>
                        <input type="text" class="form-control" name="brandId" id="brand-brandId"
                            :class="{'valid': !$v.brand.brandId.$invalid, 'invalid': $v.brand.brandId.$invalid }" v-model="$v.brand.brandId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.brand.name')" for="brand-name">Name</label>
                        <input type="text" class="form-control" name="name" id="brand-name"
                            :class="{'valid': !$v.brand.name.$invalid, 'invalid': $v.brand.name.$invalid }" v-model="$v.brand.name.$model" />
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.brand.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./brand-update.component.ts">
</script>
