<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerceadminApp.address.home.createOrEditLabel" v-text="$t('ecommerceadminApp.address.home.createOrEditLabel')">Create or edit a Address</h2>
                <div>
                    <div class="form-group" v-if="address.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="address.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.address.name')" for="address-name">Name</label>
                        <input type="text" class="form-control" name="name" id="address-name"
                            :class="{'valid': !$v.address.name.$invalid, 'invalid': $v.address.name.$invalid }" v-model="$v.address.name.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.address.country')" for="address-country">Country</label>
                        <input type="text" class="form-control" name="country" id="address-country"
                            :class="{'valid': !$v.address.country.$invalid, 'invalid': $v.address.country.$invalid }" v-model="$v.address.country.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.address.state')" for="address-state">State</label>
                        <input type="text" class="form-control" name="state" id="address-state"
                            :class="{'valid': !$v.address.state.$invalid, 'invalid': $v.address.state.$invalid }" v-model="$v.address.state.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.address.district')" for="address-district">District</label>
                        <input type="text" class="form-control" name="district" id="address-district"
                            :class="{'valid': !$v.address.district.$invalid, 'invalid': $v.address.district.$invalid }" v-model="$v.address.district.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.address.city')" for="address-city">City</label>
                        <input type="text" class="form-control" name="city" id="address-city"
                            :class="{'valid': !$v.address.city.$invalid, 'invalid': $v.address.city.$invalid }" v-model="$v.address.city.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.address.street')" for="address-street">Street</label>
                        <input type="text" class="form-control" name="street" id="address-street"
                            :class="{'valid': !$v.address.street.$invalid, 'invalid': $v.address.street.$invalid }" v-model="$v.address.street.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerceadminApp.address.vendor')" for="address-vendor">Vendor</label>
                        <select class="form-control" id="address-vendor" name="vendor" v-model="address.vendor">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="address.vendor && vendorOption.id === address.vendor.id ? address.vendor : vendorOption" v-for="vendorOption in vendors" :key="vendorOption.id">{{vendorOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.address.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./address-update.component.ts">
</script>
