<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="address">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerceadminApp.address.detail.title')">Address</span> {{address.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerceadminApp.address.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{address.name}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.address.country')">Country</span>
                    </dt>
                    <dd>
                        <span>{{address.country}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.address.state')">State</span>
                    </dt>
                    <dd>
                        <span>{{address.state}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.address.district')">District</span>
                    </dt>
                    <dd>
                        <span>{{address.district}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.address.city')">City</span>
                    </dt>
                    <dd>
                        <span>{{address.city}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.address.street')">Street</span>
                    </dt>
                    <dd>
                        <span>{{address.street}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.address.vendor')">Vendor</span>
                    </dt>
                    <dd>
                        <div v-if="address.vendor">
                            <router-link :to="{name: 'VendorView', params: {vendorId: address.vendor.id}}">{{address.vendor.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="address.id" :to="{name: 'AddressEdit', params: {addressId: address.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./address-details.component.ts">
</script>
