<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('ecommerceadminApp.returnPolicy.home.title')" id="return-policy-heading">Return Policies</span>
            <router-link :to="{name: 'ReturnPolicyCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-return-policy">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('ecommerceadminApp.returnPolicy.home.createLabel')">
                    Create new ReturnPolicy
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && returnPolicies && returnPolicies.length === 0">
            <span v-text="$t('ecommerceadminApp.returnPolicy.home.notFound')">No returnPolicies found</span>
        </div>
        <div class="table-responsive" v-if="returnPolicies && returnPolicies.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('ecommerceadminApp.returnPolicy.name')">Name</span></th>
                    <th><span v-text="$t('ecommerceadminApp.returnPolicy.returnable')">Returnable</span></th>
                    <th><span v-text="$t('ecommerceadminApp.returnPolicy.description')">Description</span></th>
                    <th><span v-text="$t('ecommerceadminApp.returnPolicy.policyId')">Policy Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.returnPolicy.clientId')">Client Id</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="returnPolicy in returnPolicies"
                    :key="returnPolicy.id">
                    <td>
                        <router-link :to="{name: 'ReturnPolicyView', params: {returnPolicyId: returnPolicy.id}}">{{returnPolicy.id}}</router-link>
                    </td>
                    <td>{{returnPolicy.name}}</td>
                    <td>{{returnPolicy.returnable}}</td>
                    <td>{{returnPolicy.description}}</td>
                    <td>{{returnPolicy.policyId}}</td>
                    <td>{{returnPolicy.clientId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'ReturnPolicyView', params: {returnPolicyId: returnPolicy.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'ReturnPolicyEdit', params: {returnPolicyId: returnPolicy.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(returnPolicy)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="ecommerceadminApp.returnPolicy.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-returnPolicy-heading" v-bind:title="$t('ecommerceadminApp.returnPolicy.delete.question')">Are you sure you want to delete this Return Policy?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-returnPolicy" v-text="$t('entity.action.delete')" v-on:click="removeReturnPolicy()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./return-policy.component.ts">
</script>
