<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerceadminApp.returnPolicy.home.createOrEditLabel" v-text="$t('ecommerceadminApp.returnPolicy.home.createOrEditLabel')">Create or edit a ReturnPolicy</h2>
                <div>
                    <div class="form-group" v-if="returnPolicy.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="returnPolicy.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.returnPolicy.name')" for="return-policy-name">Name</label>
                        <input type="text" class="form-control" name="name" id="return-policy-name"
                            :class="{'valid': !$v.returnPolicy.name.$invalid, 'invalid': $v.returnPolicy.name.$invalid }" v-model="$v.returnPolicy.name.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.returnPolicy.returnable')" for="return-policy-returnable">Returnable</label>
                        <input type="checkbox" class="form-check" name="returnable" id="return-policy-returnable"
                            :class="{'valid': !$v.returnPolicy.returnable.$invalid, 'invalid': $v.returnPolicy.returnable.$invalid }" v-model="$v.returnPolicy.returnable.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.returnPolicy.description')" for="return-policy-description">Description</label>
                        <input type="text" class="form-control" name="description" id="return-policy-description"
                            :class="{'valid': !$v.returnPolicy.description.$invalid, 'invalid': $v.returnPolicy.description.$invalid }" v-model="$v.returnPolicy.description.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.returnPolicy.policyId')" for="return-policy-policyId">Policy Id</label>
                        <input type="text" class="form-control" name="policyId" id="return-policy-policyId"
                            :class="{'valid': !$v.returnPolicy.policyId.$invalid, 'invalid': $v.returnPolicy.policyId.$invalid }" v-model="$v.returnPolicy.policyId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.returnPolicy.clientId')" for="return-policy-clientId">Client Id</label>
                        <input type="text" class="form-control" name="clientId" id="return-policy-clientId"
                            :class="{'valid': !$v.returnPolicy.clientId.$invalid, 'invalid': $v.returnPolicy.clientId.$invalid }" v-model="$v.returnPolicy.clientId.$model" />
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.returnPolicy.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./return-policy-update.component.ts">
</script>
