<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="returnPolicy">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerceadminApp.returnPolicy.detail.title')">ReturnPolicy</span> {{returnPolicy.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerceadminApp.returnPolicy.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{returnPolicy.name}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.returnPolicy.returnable')">Returnable</span>
                    </dt>
                    <dd>
                        <span>{{returnPolicy.returnable}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.returnPolicy.description')">Description</span>
                    </dt>
                    <dd>
                        <span>{{returnPolicy.description}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.returnPolicy.policyId')">Policy Id</span>
                    </dt>
                    <dd>
                        <span>{{returnPolicy.policyId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.returnPolicy.clientId')">Client Id</span>
                    </dt>
                    <dd>
                        <span>{{returnPolicy.clientId}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="returnPolicy.id" :to="{name: 'ReturnPolicyEdit', params: {returnPolicyId: returnPolicy.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./return-policy-details.component.ts">
</script>
