<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('ecommerceadminApp.description.home.title')" id="description-heading">Descriptions</span>
            <router-link :to="{name: 'DescriptionCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-description">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('ecommerceadminApp.description.home.createLabel')">
                    Create new Description
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && descriptions && descriptions.length === 0">
            <span v-text="$t('ecommerceadminApp.description.home.notFound')">No descriptions found</span>
        </div>
        <div class="table-responsive" v-if="descriptions && descriptions.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('ecommerceadminApp.description.description')">Description</span></th>
                    <th><span v-text="$t('ecommerceadminApp.description.product')">Product</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="description in descriptions"
                    :key="description.id">
                    <td>
                        <router-link :to="{name: 'DescriptionView', params: {descriptionId: description.id}}">{{description.id}}</router-link>
                    </td>
                    <td>{{description.description}}</td>
                    <td>
                        <div v-if="description.product">
                            <router-link :to="{name: 'ProductView', params: {productId: description.product.id}}">{{description.product.id}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'DescriptionView', params: {descriptionId: description.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'DescriptionEdit', params: {descriptionId: description.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(description)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="ecommerceadminApp.description.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-description-heading" v-bind:title="$t('ecommerceadminApp.description.delete.question')">Are you sure you want to delete this Description?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-description" v-text="$t('entity.action.delete')" v-on:click="removeDescription()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./description.component.ts">
</script>
