<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerceadminApp.description.home.createOrEditLabel" v-text="$t('ecommerceadminApp.description.home.createOrEditLabel')">Create or edit a Description</h2>
                <div>
                    <div class="form-group" v-if="description.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="description.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.description.description')" for="description-description">Description</label>
                        <input type="text" class="form-control" name="description" id="description-description"
                            :class="{'valid': !$v.description.description.$invalid, 'invalid': $v.description.description.$invalid }" v-model="$v.description.description.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerceadminApp.description.product')" for="description-product">Product</label>
                        <select class="form-control" id="description-product" name="product" v-model="description.product">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="description.product && productOption.id === description.product.id ? description.product : productOption" v-for="productOption in products" :key="productOption.id">{{productOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.description.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./description-update.component.ts">
</script>
