<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="description">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerceadminApp.description.detail.title')">Description</span> {{description.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerceadminApp.description.description')">Description</span>
                    </dt>
                    <dd>
                        <span>{{description.description}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.description.product')">Product</span>
                    </dt>
                    <dd>
                        <div v-if="description.product">
                            <router-link :to="{name: 'ProductView', params: {productId: description.product.id}}">{{description.product.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="description.id" :to="{name: 'DescriptionEdit', params: {descriptionId: description.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./description-details.component.ts">
</script>
