<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('ecommerceadminApp.property.home.title')" id="property-heading">Properties</span>
            <router-link :to="{name: 'PropertyCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-property">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('ecommerceadminApp.property.home.createLabel')">
                    Create new Property
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && properties && properties.length === 0">
            <span v-text="$t('ecommerceadminApp.property.home.notFound')">No properties found</span>
        </div>
        <div class="table-responsive" v-if="properties && properties.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('ecommerceadminApp.property.propertyName')">Property Name</span></th>
                    <th><span v-text="$t('ecommerceadminApp.property.filter')">Filter</span></th>
                    <th><span v-text="$t('ecommerceadminApp.property.image')">Image</span></th>
                    <th><span v-text="$t('ecommerceadminApp.property.variant')">Variant</span></th>
                    <th><span v-text="$t('ecommerceadminApp.property.propertyCount')">Property Count</span></th>
                    <th><span v-text="$t('ecommerceadminApp.property.propertyValue')">Property Value</span></th>
                    <th><span v-text="$t('ecommerceadminApp.property.products')">Products</span></th>
                    <th><span v-text="$t('ecommerceadminApp.property.product')">Product</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="property in properties"
                    :key="property.id">
                    <td>
                        <router-link :to="{name: 'PropertyView', params: {propertyId: property.id}}">{{property.id}}</router-link>
                    </td>
                    <td>{{property.propertyName}}</td>
                    <td>{{property.filter}}</td>
                    <td>{{property.image}}</td>
                    <td>{{property.variant}}</td>
                    <td>{{property.propertyCount}}</td>
                    <td>{{property.propertyValue}}</td>
                    <td>
                        <div v-if="property.products">
                            <router-link :to="{name: 'ProductView', params: {productsId: property.products.id}}">{{property.products.productName}}</router-link>
                        </div>
                    </td>
                    <td>
                        <div v-if="property.product">
                            <router-link :to="{name: 'ProductView', params: {productId: property.product.id}}">{{property.product.id}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'PropertyView', params: {propertyId: property.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'PropertyEdit', params: {propertyId: property.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(property)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="ecommerceadminApp.property.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-property-heading" v-bind:title="$t('ecommerceadminApp.property.delete.question')">Are you sure you want to delete this Property?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-property" v-text="$t('entity.action.delete')" v-on:click="removeProperty()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./property.component.ts">
</script>
