<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerceadminApp.property.home.createOrEditLabel" v-text="$t('ecommerceadminApp.property.home.createOrEditLabel')">Create or edit a Property</h2>
                <div>
                    <div class="form-group" v-if="property.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="property.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.property.propertyName')" for="property-propertyName">Property Name</label>
                        <input type="text" class="form-control" name="propertyName" id="property-propertyName"
                            :class="{'valid': !$v.property.propertyName.$invalid, 'invalid': $v.property.propertyName.$invalid }" v-model="$v.property.propertyName.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.property.filter')" for="property-filter">Filter</label>
                        <input type="checkbox" class="form-check" name="filter" id="property-filter"
                            :class="{'valid': !$v.property.filter.$invalid, 'invalid': $v.property.filter.$invalid }" v-model="$v.property.filter.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.property.image')" for="property-image">Image</label>
                        <input type="text" class="form-control" name="image" id="property-image"
                            :class="{'valid': !$v.property.image.$invalid, 'invalid': $v.property.image.$invalid }" v-model="$v.property.image.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.property.variant')" for="property-variant">Variant</label>
                        <input type="checkbox" class="form-check" name="variant" id="property-variant"
                            :class="{'valid': !$v.property.variant.$invalid, 'invalid': $v.property.variant.$invalid }" v-model="$v.property.variant.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.property.propertyCount')" for="property-propertyCount">Property Count</label>
                        <input type="number" class="form-control" name="propertyCount" id="property-propertyCount"
                            :class="{'valid': !$v.property.propertyCount.$invalid, 'invalid': $v.property.propertyCount.$invalid }" v-model.number="$v.property.propertyCount.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.property.propertyValue')" for="property-propertyValue">Property Value</label>
                        <input type="text" class="form-control" name="propertyValue" id="property-propertyValue"
                            :class="{'valid': !$v.property.propertyValue.$invalid, 'invalid': $v.property.propertyValue.$invalid }" v-model="$v.property.propertyValue.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerceadminApp.property.products')" for="property-products">Products</label>
                        <select class="form-control" id="property-products" name="products" v-model="property.products">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="property.products && productOption.id === property.products.id ? property.products : productOption" v-for="productOption in products" :key="productOption.id">{{productOption.productName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerceadminApp.property.product')" for="property-product">Product</label>
                        <select class="form-control" id="property-product" name="product" v-model="property.product">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="property.product && productOption.id === property.product.id ? property.product : productOption" v-for="productOption in products" :key="productOption.id">{{productOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.property.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./property-update.component.ts">
</script>
