<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="property">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerceadminApp.property.detail.title')">Property</span> {{property.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerceadminApp.property.propertyName')">Property Name</span>
                    </dt>
                    <dd>
                        <span>{{property.propertyName}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.property.filter')">Filter</span>
                    </dt>
                    <dd>
                        <span>{{property.filter}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.property.image')">Image</span>
                    </dt>
                    <dd>
                        <span>{{property.image}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.property.variant')">Variant</span>
                    </dt>
                    <dd>
                        <span>{{property.variant}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.property.propertyCount')">Property Count</span>
                    </dt>
                    <dd>
                        <span>{{property.propertyCount}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.property.propertyValue')">Property Value</span>
                    </dt>
                    <dd>
                        <span>{{property.propertyValue}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.property.products')">Products</span>
                    </dt>
                    <dd>
                        <div v-if="property.products">
                            <router-link :to="{name: 'ProductView', params: {productsId: property.products.id}}">{{property.products.productName}}</router-link>
                        </div>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.property.product')">Product</span>
                    </dt>
                    <dd>
                        <div v-if="property.product">
                            <router-link :to="{name: 'ProductView', params: {productId: property.product.id}}">{{property.product.id}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="property.id" :to="{name: 'PropertyEdit', params: {propertyId: property.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./property-details.component.ts">
</script>
