<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerceadminApp.productGroup.home.createOrEditLabel" v-text="$t('ecommerceadminApp.productGroup.home.createOrEditLabel')">Create or edit a ProductGroup</h2>
                <div>
                    <div class="form-group" v-if="productGroup.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="productGroup.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.productGroup.productGroup')" for="product-group-productGroup">Product Group</label>
                        <input type="text" class="form-control" name="productGroup" id="product-group-productGroup"
                            :class="{'valid': !$v.productGroup.productGroup.$invalid, 'invalid': $v.productGroup.productGroup.$invalid }" v-model="$v.productGroup.productGroup.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.productGroup.clientId')" for="product-group-clientId">Client Id</label>
                        <input type="text" class="form-control" name="clientId" id="product-group-clientId"
                            :class="{'valid': !$v.productGroup.clientId.$invalid, 'invalid': $v.productGroup.clientId.$invalid }" v-model="$v.productGroup.clientId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.productGroup.productGroupId')" for="product-group-productGroupId">Product Group Id</label>
                        <input type="text" class="form-control" name="productGroupId" id="product-group-productGroupId"
                            :class="{'valid': !$v.productGroup.productGroupId.$invalid, 'invalid': $v.productGroup.productGroupId.$invalid }" v-model="$v.productGroup.productGroupId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerceadminApp.productGroup.products')" for="product-group-products">Products</label>
                        <select class="form-control" id="product-group-products" name="products" v-model="productGroup.products">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="productGroup.products && productOption.id === productGroup.products.id ? productGroup.products : productOption" v-for="productOption in products" :key="productOption.id">{{productOption.productName}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.productGroup.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./product-group-update.component.ts">
</script>
