<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="inventory">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerceadminApp.inventory.detail.title')">Inventory</span> {{inventory.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerceadminApp.inventory.productName')">Product Name</span>
                    </dt>
                    <dd>
                        <span>{{inventory.productName}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.inventory.vendorCompanyId')">Vendor Company Id</span>
                    </dt>
                    <dd>
                        <span>{{inventory.vendorCompanyId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.inventory.vendorName')">Vendor Name</span>
                    </dt>
                    <dd>
                        <span>{{inventory.vendorName}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.inventory.clientId')">Client Id</span>
                    </dt>
                    <dd>
                        <span>{{inventory.clientId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.inventory.vendorId')">Vendor Id</span>
                    </dt>
                    <dd>
                        <span>{{inventory.vendorId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.inventory.productId')">Product Id</span>
                    </dt>
                    <dd>
                        <span>{{inventory.productId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.inventory.status')">Status</span>
                    </dt>
                    <dd>
                        <span>{{inventory.status}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.inventory.unitPrice')">Unit Price</span>
                    </dt>
                    <dd>
                        <span>{{inventory.unitPrice}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.inventory.costprice')">Costprice</span>
                    </dt>
                    <dd>
                        <span>{{inventory.costprice}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.inventory.maxQuantity')">Max Quantity</span>
                    </dt>
                    <dd>
                        <span>{{inventory.maxQuantity}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.inventory.availablestock')">Availablestock</span>
                    </dt>
                    <dd>
                        <span>{{inventory.availablestock}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.inventory.salesQuantity')">Sales Quantity</span>
                    </dt>
                    <dd>
                        <span>{{inventory.salesQuantity}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.inventory.priceTag')">Price Tag</span>
                    </dt>
                    <dd>
                        <span>{{inventory.priceTag}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.inventory.productVendorId')">Product Vendor Id</span>
                    </dt>
                    <dd>
                        <span>{{inventory.productVendorId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.inventory.productCategoryId')">Product Category Id</span>
                    </dt>
                    <dd>
                        <span>{{inventory.productCategoryId}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="inventory.id" :to="{name: 'InventoryEdit', params: {inventoryId: inventory.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./inventory-details.component.ts">
</script>
