<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('ecommerceadminApp.inventory.home.title')" id="inventory-heading">Inventories</span>
            <router-link :to="{name: 'InventoryCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inventory">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('ecommerceadminApp.inventory.home.createLabel')">
                    Create new Inventory
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && inventories && inventories.length === 0">
            <span v-text="$t('ecommerceadminApp.inventory.home.notFound')">No inventories found</span>
        </div>
        <div class="table-responsive" v-if="inventories && inventories.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('ecommerceadminApp.inventory.productName')">Product Name</span></th>
                    <th><span v-text="$t('ecommerceadminApp.inventory.vendorCompanyId')">Vendor Company Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.inventory.vendorName')">Vendor Name</span></th>
                    <th><span v-text="$t('ecommerceadminApp.inventory.clientId')">Client Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.inventory.vendorId')">Vendor Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.inventory.productId')">Product Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.inventory.status')">Status</span></th>
                    <th><span v-text="$t('ecommerceadminApp.inventory.unitPrice')">Unit Price</span></th>
                    <th><span v-text="$t('ecommerceadminApp.inventory.costprice')">Costprice</span></th>
                    <th><span v-text="$t('ecommerceadminApp.inventory.maxQuantity')">Max Quantity</span></th>
                    <th><span v-text="$t('ecommerceadminApp.inventory.availablestock')">Availablestock</span></th>
                    <th><span v-text="$t('ecommerceadminApp.inventory.salesQuantity')">Sales Quantity</span></th>
                    <th><span v-text="$t('ecommerceadminApp.inventory.priceTag')">Price Tag</span></th>
                    <th><span v-text="$t('ecommerceadminApp.inventory.productVendorId')">Product Vendor Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.inventory.productCategoryId')">Product Category Id</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="inventory in inventories"
                    :key="inventory.id">
                    <td>
                        <router-link :to="{name: 'InventoryView', params: {inventoryId: inventory.id}}">{{inventory.id}}</router-link>
                    </td>
                    <td>{{inventory.productName}}</td>
                    <td>{{inventory.vendorCompanyId}}</td>
                    <td>{{inventory.vendorName}}</td>
                    <td>{{inventory.clientId}}</td>
                    <td>{{inventory.vendorId}}</td>
                    <td>{{inventory.productId}}</td>
                    <td>{{inventory.status}}</td>
                    <td>{{inventory.unitPrice}}</td>
                    <td>{{inventory.costprice}}</td>
                    <td>{{inventory.maxQuantity}}</td>
                    <td>{{inventory.availablestock}}</td>
                    <td>{{inventory.salesQuantity}}</td>
                    <td>{{inventory.priceTag}}</td>
                    <td>{{inventory.productVendorId}}</td>
                    <td>{{inventory.productCategoryId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'InventoryView', params: {inventoryId: inventory.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'InventoryEdit', params: {inventoryId: inventory.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(inventory)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="ecommerceadminApp.inventory.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-inventory-heading" v-bind:title="$t('ecommerceadminApp.inventory.delete.question')">Are you sure you want to delete this Inventory?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-inventory" v-text="$t('entity.action.delete')" v-on:click="removeInventory()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./inventory.component.ts">
</script>
