<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerceadminApp.inventory.home.createOrEditLabel" v-text="$t('ecommerceadminApp.inventory.home.createOrEditLabel')">Create or edit a Inventory</h2>
                <div>
                    <div class="form-group" v-if="inventory.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="inventory.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.inventory.productName')" for="inventory-productName">Product Name</label>
                        <input type="text" class="form-control" name="productName" id="inventory-productName"
                            :class="{'valid': !$v.inventory.productName.$invalid, 'invalid': $v.inventory.productName.$invalid }" v-model="$v.inventory.productName.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.inventory.vendorCompanyId')" for="inventory-vendorCompanyId">Vendor Company Id</label>
                        <input type="text" class="form-control" name="vendorCompanyId" id="inventory-vendorCompanyId"
                            :class="{'valid': !$v.inventory.vendorCompanyId.$invalid, 'invalid': $v.inventory.vendorCompanyId.$invalid }" v-model="$v.inventory.vendorCompanyId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.inventory.vendorName')" for="inventory-vendorName">Vendor Name</label>
                        <input type="text" class="form-control" name="vendorName" id="inventory-vendorName"
                            :class="{'valid': !$v.inventory.vendorName.$invalid, 'invalid': $v.inventory.vendorName.$invalid }" v-model="$v.inventory.vendorName.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.inventory.clientId')" for="inventory-clientId">Client Id</label>
                        <input type="text" class="form-control" name="clientId" id="inventory-clientId"
                            :class="{'valid': !$v.inventory.clientId.$invalid, 'invalid': $v.inventory.clientId.$invalid }" v-model="$v.inventory.clientId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.inventory.vendorId')" for="inventory-vendorId">Vendor Id</label>
                        <input type="text" class="form-control" name="vendorId" id="inventory-vendorId"
                            :class="{'valid': !$v.inventory.vendorId.$invalid, 'invalid': $v.inventory.vendorId.$invalid }" v-model="$v.inventory.vendorId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.inventory.productId')" for="inventory-productId">Product Id</label>
                        <input type="text" class="form-control" name="productId" id="inventory-productId"
                            :class="{'valid': !$v.inventory.productId.$invalid, 'invalid': $v.inventory.productId.$invalid }" v-model="$v.inventory.productId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.inventory.status')" for="inventory-status">Status</label>
                        <input type="text" class="form-control" name="status" id="inventory-status"
                            :class="{'valid': !$v.inventory.status.$invalid, 'invalid': $v.inventory.status.$invalid }" v-model="$v.inventory.status.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.inventory.unitPrice')" for="inventory-unitPrice">Unit Price</label>
                        <input type="number" class="form-control" name="unitPrice" id="inventory-unitPrice"
                            :class="{'valid': !$v.inventory.unitPrice.$invalid, 'invalid': $v.inventory.unitPrice.$invalid }" v-model.number="$v.inventory.unitPrice.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.inventory.costprice')" for="inventory-costprice">Costprice</label>
                        <input type="number" class="form-control" name="costprice" id="inventory-costprice"
                            :class="{'valid': !$v.inventory.costprice.$invalid, 'invalid': $v.inventory.costprice.$invalid }" v-model.number="$v.inventory.costprice.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.inventory.maxQuantity')" for="inventory-maxQuantity">Max Quantity</label>
                        <input type="number" class="form-control" name="maxQuantity" id="inventory-maxQuantity"
                            :class="{'valid': !$v.inventory.maxQuantity.$invalid, 'invalid': $v.inventory.maxQuantity.$invalid }" v-model.number="$v.inventory.maxQuantity.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.inventory.availablestock')" for="inventory-availablestock">Availablestock</label>
                        <input type="number" class="form-control" name="availablestock" id="inventory-availablestock"
                            :class="{'valid': !$v.inventory.availablestock.$invalid, 'invalid': $v.inventory.availablestock.$invalid }" v-model.number="$v.inventory.availablestock.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.inventory.salesQuantity')" for="inventory-salesQuantity">Sales Quantity</label>
                        <input type="number" class="form-control" name="salesQuantity" id="inventory-salesQuantity"
                            :class="{'valid': !$v.inventory.salesQuantity.$invalid, 'invalid': $v.inventory.salesQuantity.$invalid }" v-model.number="$v.inventory.salesQuantity.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.inventory.priceTag')" for="inventory-priceTag">Price Tag</label>
                        <input type="text" class="form-control" name="priceTag" id="inventory-priceTag"
                            :class="{'valid': !$v.inventory.priceTag.$invalid, 'invalid': $v.inventory.priceTag.$invalid }" v-model="$v.inventory.priceTag.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.inventory.productVendorId')" for="inventory-productVendorId">Product Vendor Id</label>
                        <input type="text" class="form-control" name="productVendorId" id="inventory-productVendorId"
                            :class="{'valid': !$v.inventory.productVendorId.$invalid, 'invalid': $v.inventory.productVendorId.$invalid }" v-model="$v.inventory.productVendorId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.inventory.productCategoryId')" for="inventory-productCategoryId">Product Category Id</label>
                        <input type="text" class="form-control" name="productCategoryId" id="inventory-productCategoryId"
                            :class="{'valid': !$v.inventory.productCategoryId.$invalid, 'invalid': $v.inventory.productCategoryId.$invalid }" v-model="$v.inventory.productCategoryId.$model" />
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.inventory.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./inventory-update.component.ts">
</script>
