<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('ecommerceadminApp.orderLineItem.home.title')" id="order-line-item-heading">Order Line Items</span>
            <router-link :to="{name: 'OrderLineItemCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-line-item">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('ecommerceadminApp.orderLineItem.home.createLabel')">
                    Create new OrderLineItem
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && orderLineItems && orderLineItems.length === 0">
            <span v-text="$t('ecommerceadminApp.orderLineItem.home.notFound')">No orderLineItems found</span>
        </div>
        <div class="table-responsive" v-if="orderLineItems && orderLineItems.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.orderNumber')">Order Number</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.vendorCompanyId')">Vendor Company Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.paymentDate')">Payment Date</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.tax')">Tax</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.shipmentFee')">Shipment Fee</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.totalAmount')">Total Amount</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.deliveredDate')">Delivered Date</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.productName')">Product Name</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.trackingId')">Tracking Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.trackingUrl')">Tracking Url</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.clientId')">Client Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.email')">Email</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.resetToken')">Reset Token</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.timeStamp')">Time Stamp</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.orderDetailId')">Order Detail Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.productId')">Product Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.quantity')">Quantity</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.price')">Price</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.shippedDate')">Shipped Date</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.paymentMethod')">Payment Method</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.paymentStatus')">Payment Status</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.orderDates')">Order Dates</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.fullOrderStatus')">Full Order Status</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.customerAddress')">Customer Address</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.promoCode')">Promo Code</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.appliedCouponAmount')">Applied Coupon Amount</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.giftCardId')">Gift Card Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.giftCardAmount')">Gift Card Amount</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.subTotal')">Sub Total</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.createdAt')">Created At</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.updatedAt')">Updated At</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.customerId')">Customer Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.vendorId')">Vendor Id</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.orderStatus')">Order Status</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.orderDate')">Order Date</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.isProgressed')">Is Progressed</span></th>
                    <th><span v-text="$t('ecommerceadminApp.orderLineItem.isShipped')">Is Shipped</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="orderLineItem in orderLineItems"
                    :key="orderLineItem.id">
                    <td>
                        <router-link :to="{name: 'OrderLineItemView', params: {orderLineItemId: orderLineItem.id}}">{{orderLineItem.id}}</router-link>
                    </td>
                    <td>{{orderLineItem.orderNumber}}</td>
                    <td>{{orderLineItem.vendorCompanyId}}</td>
                    <td>{{orderLineItem.paymentDate}}</td>
                    <td>{{orderLineItem.tax}}</td>
                    <td>{{orderLineItem.shipmentFee}}</td>
                    <td>{{orderLineItem.totalAmount}}</td>
                    <td>{{orderLineItem.deliveredDate}}</td>
                    <td>{{orderLineItem.productName}}</td>
                    <td>{{orderLineItem.trackingId}}</td>
                    <td>{{orderLineItem.trackingUrl}}</td>
                    <td>{{orderLineItem.clientId}}</td>
                    <td>{{orderLineItem.email}}</td>
                    <td>{{orderLineItem.resetToken}}</td>
                    <td>{{orderLineItem.timeStamp | formatDate}}</td>
                    <td>{{orderLineItem.orderDetailId}}</td>
                    <td>{{orderLineItem.productId}}</td>
                    <td>{{orderLineItem.quantity}}</td>
                    <td>{{orderLineItem.price}}</td>
                    <td>{{orderLineItem.shippedDate}}</td>
                    <td>{{orderLineItem.paymentMethod}}</td>
                    <td v-text="$t('ecommerceadminApp.PaymentStatus.' + orderLineItem.paymentStatus)">{{orderLineItem.paymentStatus}}</td>
                    <td>{{orderLineItem.orderDates}}</td>
                    <td v-text="$t('ecommerceadminApp.FullOrderStatus.' + orderLineItem.fullOrderStatus)">{{orderLineItem.fullOrderStatus}}</td>
                    <td>{{orderLineItem.customerAddress}}</td>
                    <td>{{orderLineItem.promoCode}}</td>
                    <td>{{orderLineItem.appliedCouponAmount}}</td>
                    <td>{{orderLineItem.giftCardId}}</td>
                    <td>{{orderLineItem.giftCardAmount}}</td>
                    <td>{{orderLineItem.subTotal}}</td>
                    <td>{{orderLineItem.createdAt | formatDate}}</td>
                    <td>{{orderLineItem.updatedAt | formatDate}}</td>
                    <td>{{orderLineItem.customerId}}</td>
                    <td>{{orderLineItem.vendorId}}</td>
                    <td v-text="$t('ecommerceadminApp.OrderStatus.' + orderLineItem.orderStatus)">{{orderLineItem.orderStatus}}</td>
                    <td>{{orderLineItem.orderDate}}</td>
                    <td>{{orderLineItem.isProgressed}}</td>
                    <td>{{orderLineItem.isShipped}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'OrderLineItemView', params: {orderLineItemId: orderLineItem.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'OrderLineItemEdit', params: {orderLineItemId: orderLineItem.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(orderLineItem)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="ecommerceadminApp.orderLineItem.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-orderLineItem-heading" v-bind:title="$t('ecommerceadminApp.orderLineItem.delete.question')">Are you sure you want to delete this Order Line Item?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-orderLineItem" v-text="$t('entity.action.delete')" v-on:click="removeOrderLineItem()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./order-line-item.component.ts">
</script>
