<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerceadminApp.orderLineItem.home.createOrEditLabel" v-text="$t('ecommerceadminApp.orderLineItem.home.createOrEditLabel')">Create or edit a OrderLineItem</h2>
                <div>
                    <div class="form-group" v-if="orderLineItem.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="orderLineItem.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.orderNumber')" for="order-line-item-orderNumber">Order Number</label>
                        <input type="text" class="form-control" name="orderNumber" id="order-line-item-orderNumber"
                            :class="{'valid': !$v.orderLineItem.orderNumber.$invalid, 'invalid': $v.orderLineItem.orderNumber.$invalid }" v-model="$v.orderLineItem.orderNumber.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.vendorCompanyId')" for="order-line-item-vendorCompanyId">Vendor Company Id</label>
                        <input type="text" class="form-control" name="vendorCompanyId" id="order-line-item-vendorCompanyId"
                            :class="{'valid': !$v.orderLineItem.vendorCompanyId.$invalid, 'invalid': $v.orderLineItem.vendorCompanyId.$invalid }" v-model="$v.orderLineItem.vendorCompanyId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.paymentDate')" for="order-line-item-paymentDate">Payment Date</label>
                        <div class="input-group">
                            <input id="order-line-item-paymentDate" type="date" class="form-control" name="paymentDate"  :class="{'valid': !$v.orderLineItem.paymentDate.$invalid, 'invalid': $v.orderLineItem.paymentDate.$invalid }"
                            v-model="$v.orderLineItem.paymentDate.$model"  />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.tax')" for="order-line-item-tax">Tax</label>
                        <input type="number" class="form-control" name="tax" id="order-line-item-tax"
                            :class="{'valid': !$v.orderLineItem.tax.$invalid, 'invalid': $v.orderLineItem.tax.$invalid }" v-model.number="$v.orderLineItem.tax.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.shipmentFee')" for="order-line-item-shipmentFee">Shipment Fee</label>
                        <input type="number" class="form-control" name="shipmentFee" id="order-line-item-shipmentFee"
                            :class="{'valid': !$v.orderLineItem.shipmentFee.$invalid, 'invalid': $v.orderLineItem.shipmentFee.$invalid }" v-model.number="$v.orderLineItem.shipmentFee.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.totalAmount')" for="order-line-item-totalAmount">Total Amount</label>
                        <input type="number" class="form-control" name="totalAmount" id="order-line-item-totalAmount"
                            :class="{'valid': !$v.orderLineItem.totalAmount.$invalid, 'invalid': $v.orderLineItem.totalAmount.$invalid }" v-model.number="$v.orderLineItem.totalAmount.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.deliveredDate')" for="order-line-item-deliveredDate">Delivered Date</label>
                        <div class="input-group">
                            <input id="order-line-item-deliveredDate" type="date" class="form-control" name="deliveredDate"  :class="{'valid': !$v.orderLineItem.deliveredDate.$invalid, 'invalid': $v.orderLineItem.deliveredDate.$invalid }"
                            v-model="$v.orderLineItem.deliveredDate.$model"  />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.productName')" for="order-line-item-productName">Product Name</label>
                        <input type="text" class="form-control" name="productName" id="order-line-item-productName"
                            :class="{'valid': !$v.orderLineItem.productName.$invalid, 'invalid': $v.orderLineItem.productName.$invalid }" v-model="$v.orderLineItem.productName.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.trackingId')" for="order-line-item-trackingId">Tracking Id</label>
                        <input type="text" class="form-control" name="trackingId" id="order-line-item-trackingId"
                            :class="{'valid': !$v.orderLineItem.trackingId.$invalid, 'invalid': $v.orderLineItem.trackingId.$invalid }" v-model="$v.orderLineItem.trackingId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.trackingUrl')" for="order-line-item-trackingUrl">Tracking Url</label>
                        <input type="text" class="form-control" name="trackingUrl" id="order-line-item-trackingUrl"
                            :class="{'valid': !$v.orderLineItem.trackingUrl.$invalid, 'invalid': $v.orderLineItem.trackingUrl.$invalid }" v-model="$v.orderLineItem.trackingUrl.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.clientId')" for="order-line-item-clientId">Client Id</label>
                        <input type="text" class="form-control" name="clientId" id="order-line-item-clientId"
                            :class="{'valid': !$v.orderLineItem.clientId.$invalid, 'invalid': $v.orderLineItem.clientId.$invalid }" v-model="$v.orderLineItem.clientId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.email')" for="order-line-item-email">Email</label>
                        <input type="text" class="form-control" name="email" id="order-line-item-email"
                            :class="{'valid': !$v.orderLineItem.email.$invalid, 'invalid': $v.orderLineItem.email.$invalid }" v-model="$v.orderLineItem.email.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.resetToken')" for="order-line-item-resetToken">Reset Token</label>
                        <input type="text" class="form-control" name="resetToken" id="order-line-item-resetToken"
                            :class="{'valid': !$v.orderLineItem.resetToken.$invalid, 'invalid': $v.orderLineItem.resetToken.$invalid }" v-model="$v.orderLineItem.resetToken.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.timeStamp')" for="order-line-item-timeStamp">Time Stamp</label>
                        <div class="d-flex">
                            <input id="order-line-item-timeStamp" type="datetime-local" class="form-control" name="timeStamp" :class="{'valid': !$v.orderLineItem.timeStamp.$invalid, 'invalid': $v.orderLineItem.timeStamp.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.orderLineItem.timeStamp.$model)"
                            @change="updateInstantField('timeStamp', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.orderDetailId')" for="order-line-item-orderDetailId">Order Detail Id</label>
                        <input type="number" class="form-control" name="orderDetailId" id="order-line-item-orderDetailId"
                            :class="{'valid': !$v.orderLineItem.orderDetailId.$invalid, 'invalid': $v.orderLineItem.orderDetailId.$invalid }" v-model.number="$v.orderLineItem.orderDetailId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.productId')" for="order-line-item-productId">Product Id</label>
                        <input type="text" class="form-control" name="productId" id="order-line-item-productId"
                            :class="{'valid': !$v.orderLineItem.productId.$invalid, 'invalid': $v.orderLineItem.productId.$invalid }" v-model="$v.orderLineItem.productId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.quantity')" for="order-line-item-quantity">Quantity</label>
                        <input type="number" class="form-control" name="quantity" id="order-line-item-quantity"
                            :class="{'valid': !$v.orderLineItem.quantity.$invalid, 'invalid': $v.orderLineItem.quantity.$invalid }" v-model.number="$v.orderLineItem.quantity.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.price')" for="order-line-item-price">Price</label>
                        <input type="number" class="form-control" name="price" id="order-line-item-price"
                            :class="{'valid': !$v.orderLineItem.price.$invalid, 'invalid': $v.orderLineItem.price.$invalid }" v-model.number="$v.orderLineItem.price.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.shippedDate')" for="order-line-item-shippedDate">Shipped Date</label>
                        <div class="input-group">
                            <input id="order-line-item-shippedDate" type="date" class="form-control" name="shippedDate"  :class="{'valid': !$v.orderLineItem.shippedDate.$invalid, 'invalid': $v.orderLineItem.shippedDate.$invalid }"
                            v-model="$v.orderLineItem.shippedDate.$model"  />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.paymentMethod')" for="order-line-item-paymentMethod">Payment Method</label>
                        <input type="text" class="form-control" name="paymentMethod" id="order-line-item-paymentMethod"
                            :class="{'valid': !$v.orderLineItem.paymentMethod.$invalid, 'invalid': $v.orderLineItem.paymentMethod.$invalid }" v-model="$v.orderLineItem.paymentMethod.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.paymentStatus')" for="order-line-item-paymentStatus">Payment Status</label>
                        <select class="form-control" name="paymentStatus" :class="{'valid': !$v.orderLineItem.paymentStatus.$invalid, 'invalid': $v.orderLineItem.paymentStatus.$invalid }" v-model="$v.orderLineItem.paymentStatus.$model" id="order-line-item-paymentStatus" >
                            <option value="SUCCESS" v-bind:label="$t('ecommerceadminApp.PaymentStatus.SUCCESS')">SUCCESS</option>
                            <option value="PENDING" v-bind:label="$t('ecommerceadminApp.PaymentStatus.PENDING')">PENDING</option>
                            <option value="FAILED" v-bind:label="$t('ecommerceadminApp.PaymentStatus.FAILED')">FAILED</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.orderDates')" for="order-line-item-orderDates">Order Dates</label>
                        <input type="text" class="form-control" name="orderDates" id="order-line-item-orderDates"
                            :class="{'valid': !$v.orderLineItem.orderDates.$invalid, 'invalid': $v.orderLineItem.orderDates.$invalid }" v-model="$v.orderLineItem.orderDates.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.fullOrderStatus')" for="order-line-item-fullOrderStatus">Full Order Status</label>
                        <select class="form-control" name="fullOrderStatus" :class="{'valid': !$v.orderLineItem.fullOrderStatus.$invalid, 'invalid': $v.orderLineItem.fullOrderStatus.$invalid }" v-model="$v.orderLineItem.fullOrderStatus.$model" id="order-line-item-fullOrderStatus" >
                            <option value="Delivered" v-bind:label="$t('ecommerceadminApp.FullOrderStatus.Delivered')">Delivered</option>
                            <option value="Shipped" v-bind:label="$t('ecommerceadminApp.FullOrderStatus.Shipped')">Shipped</option>
                            <option value="Processing" v-bind:label="$t('ecommerceadminApp.FullOrderStatus.Processing')">Processing</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.customerAddress')" for="order-line-item-customerAddress">Customer Address</label>
                        <input type="text" class="form-control" name="customerAddress" id="order-line-item-customerAddress"
                            :class="{'valid': !$v.orderLineItem.customerAddress.$invalid, 'invalid': $v.orderLineItem.customerAddress.$invalid }" v-model="$v.orderLineItem.customerAddress.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.promoCode')" for="order-line-item-promoCode">Promo Code</label>
                        <input type="text" class="form-control" name="promoCode" id="order-line-item-promoCode"
                            :class="{'valid': !$v.orderLineItem.promoCode.$invalid, 'invalid': $v.orderLineItem.promoCode.$invalid }" v-model="$v.orderLineItem.promoCode.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.appliedCouponAmount')" for="order-line-item-appliedCouponAmount">Applied Coupon Amount</label>
                        <input type="number" class="form-control" name="appliedCouponAmount" id="order-line-item-appliedCouponAmount"
                            :class="{'valid': !$v.orderLineItem.appliedCouponAmount.$invalid, 'invalid': $v.orderLineItem.appliedCouponAmount.$invalid }" v-model.number="$v.orderLineItem.appliedCouponAmount.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.giftCardId')" for="order-line-item-giftCardId">Gift Card Id</label>
                        <input type="text" class="form-control" name="giftCardId" id="order-line-item-giftCardId"
                            :class="{'valid': !$v.orderLineItem.giftCardId.$invalid, 'invalid': $v.orderLineItem.giftCardId.$invalid }" v-model="$v.orderLineItem.giftCardId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.giftCardAmount')" for="order-line-item-giftCardAmount">Gift Card Amount</label>
                        <input type="number" class="form-control" name="giftCardAmount" id="order-line-item-giftCardAmount"
                            :class="{'valid': !$v.orderLineItem.giftCardAmount.$invalid, 'invalid': $v.orderLineItem.giftCardAmount.$invalid }" v-model.number="$v.orderLineItem.giftCardAmount.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.subTotal')" for="order-line-item-subTotal">Sub Total</label>
                        <input type="number" class="form-control" name="subTotal" id="order-line-item-subTotal"
                            :class="{'valid': !$v.orderLineItem.subTotal.$invalid, 'invalid': $v.orderLineItem.subTotal.$invalid }" v-model.number="$v.orderLineItem.subTotal.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.createdAt')" for="order-line-item-createdAt">Created At</label>
                        <div class="d-flex">
                            <input id="order-line-item-createdAt" type="datetime-local" class="form-control" name="createdAt" :class="{'valid': !$v.orderLineItem.createdAt.$invalid, 'invalid': $v.orderLineItem.createdAt.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.orderLineItem.createdAt.$model)"
                            @change="updateInstantField('createdAt', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.updatedAt')" for="order-line-item-updatedAt">Updated At</label>
                        <div class="d-flex">
                            <input id="order-line-item-updatedAt" type="datetime-local" class="form-control" name="updatedAt" :class="{'valid': !$v.orderLineItem.updatedAt.$invalid, 'invalid': $v.orderLineItem.updatedAt.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.orderLineItem.updatedAt.$model)"
                            @change="updateInstantField('updatedAt', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.customerId')" for="order-line-item-customerId">Customer Id</label>
                        <input type="text" class="form-control" name="customerId" id="order-line-item-customerId"
                            :class="{'valid': !$v.orderLineItem.customerId.$invalid, 'invalid': $v.orderLineItem.customerId.$invalid }" v-model="$v.orderLineItem.customerId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.vendorId')" for="order-line-item-vendorId">Vendor Id</label>
                        <input type="text" class="form-control" name="vendorId" id="order-line-item-vendorId"
                            :class="{'valid': !$v.orderLineItem.vendorId.$invalid, 'invalid': $v.orderLineItem.vendorId.$invalid }" v-model="$v.orderLineItem.vendorId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.orderStatus')" for="order-line-item-orderStatus">Order Status</label>
                        <select class="form-control" name="orderStatus" :class="{'valid': !$v.orderLineItem.orderStatus.$invalid, 'invalid': $v.orderLineItem.orderStatus.$invalid }" v-model="$v.orderLineItem.orderStatus.$model" id="order-line-item-orderStatus" >
                            <option value="Delivered" v-bind:label="$t('ecommerceadminApp.OrderStatus.Delivered')">Delivered</option>
                            <option value="Shipped" v-bind:label="$t('ecommerceadminApp.OrderStatus.Shipped')">Shipped</option>
                            <option value="Processing" v-bind:label="$t('ecommerceadminApp.OrderStatus.Processing')">Processing</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.orderDate')" for="order-line-item-orderDate">Order Date</label>
                        <div class="input-group">
                            <input id="order-line-item-orderDate" type="date" class="form-control" name="orderDate"  :class="{'valid': !$v.orderLineItem.orderDate.$invalid, 'invalid': $v.orderLineItem.orderDate.$invalid }"
                            v-model="$v.orderLineItem.orderDate.$model"  />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.isProgressed')" for="order-line-item-isProgressed">Is Progressed</label>
                        <input type="checkbox" class="form-check" name="isProgressed" id="order-line-item-isProgressed"
                            :class="{'valid': !$v.orderLineItem.isProgressed.$invalid, 'invalid': $v.orderLineItem.isProgressed.$invalid }" v-model="$v.orderLineItem.isProgressed.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.orderLineItem.isShipped')" for="order-line-item-isShipped">Is Shipped</label>
                        <input type="checkbox" class="form-check" name="isShipped" id="order-line-item-isShipped"
                            :class="{'valid': !$v.orderLineItem.isShipped.$invalid, 'invalid': $v.orderLineItem.isShipped.$invalid }" v-model="$v.orderLineItem.isShipped.$model" />
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.orderLineItem.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./order-line-item-update.component.ts">
</script>
