<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="orderLineItem">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerceadminApp.orderLineItem.detail.title')">OrderLineItem</span> {{orderLineItem.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.orderNumber')">Order Number</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.orderNumber}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.vendorCompanyId')">Vendor Company Id</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.vendorCompanyId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.paymentDate')">Payment Date</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.paymentDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.tax')">Tax</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.tax}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.shipmentFee')">Shipment Fee</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.shipmentFee}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.totalAmount')">Total Amount</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.totalAmount}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.deliveredDate')">Delivered Date</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.deliveredDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.productName')">Product Name</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.productName}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.trackingId')">Tracking Id</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.trackingId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.trackingUrl')">Tracking Url</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.trackingUrl}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.clientId')">Client Id</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.clientId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.email')">Email</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.email}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.resetToken')">Reset Token</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.resetToken}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.timeStamp')">Time Stamp</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.timeStamp | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.orderDetailId')">Order Detail Id</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.orderDetailId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.productId')">Product Id</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.productId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.quantity')">Quantity</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.quantity}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.price')">Price</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.price}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.shippedDate')">Shipped Date</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.shippedDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.paymentMethod')">Payment Method</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.paymentMethod}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.paymentStatus')">Payment Status</span>
                    </dt>
                    <dd>
                        <span v-text="$t('ecommerceadminApp.PaymentStatus.' + orderLineItem.paymentStatus)">{{orderLineItem.paymentStatus}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.orderDates')">Order Dates</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.orderDates}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.fullOrderStatus')">Full Order Status</span>
                    </dt>
                    <dd>
                        <span v-text="$t('ecommerceadminApp.FullOrderStatus.' + orderLineItem.fullOrderStatus)">{{orderLineItem.fullOrderStatus}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.customerAddress')">Customer Address</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.customerAddress}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.promoCode')">Promo Code</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.promoCode}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.appliedCouponAmount')">Applied Coupon Amount</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.appliedCouponAmount}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.giftCardId')">Gift Card Id</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.giftCardId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.giftCardAmount')">Gift Card Amount</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.giftCardAmount}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.subTotal')">Sub Total</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.subTotal}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.createdAt')">Created At</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.createdAt | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.updatedAt')">Updated At</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.updatedAt | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.customerId')">Customer Id</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.customerId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.vendorId')">Vendor Id</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.vendorId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.orderStatus')">Order Status</span>
                    </dt>
                    <dd>
                        <span v-text="$t('ecommerceadminApp.OrderStatus.' + orderLineItem.orderStatus)">{{orderLineItem.orderStatus}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.orderDate')">Order Date</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.orderDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.isProgressed')">Is Progressed</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.isProgressed}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.orderLineItem.isShipped')">Is Shipped</span>
                    </dt>
                    <dd>
                        <span>{{orderLineItem.isShipped}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="orderLineItem.id" :to="{name: 'OrderLineItemEdit', params: {orderLineItemId: orderLineItem.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./order-line-item-details.component.ts">
</script>
