<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('ecommerceadminApp.product.home.title')" id="product-heading">Products</span>
            <router-link :to="{name: 'ProductCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('ecommerceadminApp.product.home.createLabel')">
                    Create new Product
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && products && products.length === 0">
            <span v-text="$t('ecommerceadminApp.product.home.notFound')">No products found</span>
        </div>
        <div class="table-responsive" v-if="products && products.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span v-text="$t('global.field.id')">ID</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('clientId')"><span v-text="$t('ecommerceadminApp.product.clientId')">Client Id</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('vendorCompanyId')"><span v-text="$t('ecommerceadminApp.product.vendorCompanyId')">Vendor Company Id</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('returnDaysLimit')"><span v-text="$t('ecommerceadminApp.product.returnDaysLimit')">Return Days Limit</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('propertyCount')"><span v-text="$t('ecommerceadminApp.product.propertyCount')">Property Count</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('descriptionCount')"><span v-text="$t('ecommerceadminApp.product.descriptionCount')">Description Count</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('productCategoryId')"><span v-text="$t('ecommerceadminApp.product.productCategoryId')">Product Category Id</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('vendorId')"><span v-text="$t('ecommerceadminApp.product.vendorId')">Vendor Id</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('tagCode')"><span v-text="$t('ecommerceadminApp.product.tagCode')">Tag Code</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('modelCode')"><span v-text="$t('ecommerceadminApp.product.modelCode')">Model Code</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('productName')"><span v-text="$t('ecommerceadminApp.product.productName')">Product Name</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('productId')"><span v-text="$t('ecommerceadminApp.product.productId')">Product Id</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('description')"><span v-text="$t('ecommerceadminApp.product.description')">Description</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('weight')"><span v-text="$t('ecommerceadminApp.product.weight')">Weight</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('unit')"><span v-text="$t('ecommerceadminApp.product.unit')">Unit</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('shortDescription')"><span v-text="$t('ecommerceadminApp.product.shortDescription')">Short Description</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('image1')"><span v-text="$t('ecommerceadminApp.product.image1')">Image 1</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('image2')"><span v-text="$t('ecommerceadminApp.product.image2')">Image 2</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('image3')"><span v-text="$t('ecommerceadminApp.product.image3')">Image 3</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('image4')"><span v-text="$t('ecommerceadminApp.product.image4')">Image 4</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('backgroundImage')"><span v-text="$t('ecommerceadminApp.product.backgroundImage')">Background Image</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('status')"><span v-text="$t('ecommerceadminApp.product.status')">Status</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('category.name')"><span v-text="$t('ecommerceadminApp.product.category')">Category</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('brand.name')"><span v-text="$t('ecommerceadminApp.product.brand')">Brand</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('returnPolicy.name')"><span v-text="$t('ecommerceadminApp.product.returnPolicy')">Return Policy</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('productGroup.productGroup')"><span v-text="$t('ecommerceadminApp.product.productGroup')">Product Group</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="product of orderBy(products, propOrder, reverse === true ? 1 : -1)"
                    :key="product.id">
                    <td>
                        <router-link :to="{name: 'ProductView', params: {productId: product.id}}">{{product.id}}</router-link>
                    </td>
                    <td>{{product.clientId}}</td>
                    <td>{{product.vendorCompanyId}}</td>
                    <td>{{product.returnDaysLimit}}</td>
                    <td>{{product.propertyCount}}</td>
                    <td>{{product.descriptionCount}}</td>
                    <td>{{product.productCategoryId}}</td>
                    <td>{{product.vendorId}}</td>
                    <td>{{product.tagCode}}</td>
                    <td>{{product.modelCode}}</td>
                    <td>{{product.productName}}</td>
                    <td>{{product.productId}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.weight}}</td>
                    <td>{{product.unit}}</td>
                    <td>{{product.shortDescription}}</td>
                    <td>{{product.image1}}</td>
                    <td>{{product.image2}}</td>
                    <td>{{product.image3}}</td>
                    <td>{{product.image4}}</td>
                    <td>{{product.backgroundImage}}</td>
                    <td>{{product.status}}</td>
                    <td>
                        <div v-if="product.category">
                            <router-link :to="{name: 'CategoryView', params: {categoryId: product.category.id}}">{{product.category.name}}</router-link>
                        </div>
                    </td>
                    <td>
                        <div v-if="product.brand">
                            <router-link :to="{name: 'BrandView', params: {brandId: product.brand.id}}">{{product.brand.name}}</router-link>
                        </div>
                    </td>
                    <td>
                        <div v-if="product.returnPolicy">
                            <router-link :to="{name: 'ReturnPolicyView', params: {returnPolicyId: product.returnPolicy.id}}">{{product.returnPolicy.name}}</router-link>
                        </div>
                    </td>
                    <td>
                        <div v-if="product.productGroup">
                            <router-link :to="{name: 'ProductGroupView', params: {productGroupId: product.productGroup.id}}">{{product.productGroup.productGroup}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'ProductView', params: {productId: product.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'ProductEdit', params: {productId: product.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(product)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="ecommerceadminApp.product.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-product-heading" v-bind:title="$t('ecommerceadminApp.product.delete.question')">Are you sure you want to delete this Product?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-product" v-text="$t('entity.action.delete')" v-on:click="removeProduct()">Delete</button>
            </div>
        </b-modal>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div v-if="products && products.length">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./product.component.ts">
</script>
