<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="product">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerceadminApp.product.detail.title')">Product</span> {{product.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.clientId')">Client Id</span>
                    </dt>
                    <dd>
                        <span>{{product.clientId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.vendorCompanyId')">Vendor Company Id</span>
                    </dt>
                    <dd>
                        <span>{{product.vendorCompanyId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.returnDaysLimit')">Return Days Limit</span>
                    </dt>
                    <dd>
                        <span>{{product.returnDaysLimit}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.propertyCount')">Property Count</span>
                    </dt>
                    <dd>
                        <span>{{product.propertyCount}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.descriptionCount')">Description Count</span>
                    </dt>
                    <dd>
                        <span>{{product.descriptionCount}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.productCategoryId')">Product Category Id</span>
                    </dt>
                    <dd>
                        <span>{{product.productCategoryId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.vendorId')">Vendor Id</span>
                    </dt>
                    <dd>
                        <span>{{product.vendorId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.tagCode')">Tag Code</span>
                    </dt>
                    <dd>
                        <span>{{product.tagCode}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.modelCode')">Model Code</span>
                    </dt>
                    <dd>
                        <span>{{product.modelCode}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.productName')">Product Name</span>
                    </dt>
                    <dd>
                        <span>{{product.productName}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.productId')">Product Id</span>
                    </dt>
                    <dd>
                        <span>{{product.productId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.description')">Description</span>
                    </dt>
                    <dd>
                        <span>{{product.description}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.weight')">Weight</span>
                    </dt>
                    <dd>
                        <span>{{product.weight}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.unit')">Unit</span>
                    </dt>
                    <dd>
                        <span>{{product.unit}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.shortDescription')">Short Description</span>
                    </dt>
                    <dd>
                        <span>{{product.shortDescription}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.image1')">Image 1</span>
                    </dt>
                    <dd>
                        <span>{{product.image1}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.image2')">Image 2</span>
                    </dt>
                    <dd>
                        <span>{{product.image2}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.image3')">Image 3</span>
                    </dt>
                    <dd>
                        <span>{{product.image3}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.image4')">Image 4</span>
                    </dt>
                    <dd>
                        <span>{{product.image4}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.backgroundImage')">Background Image</span>
                    </dt>
                    <dd>
                        <span>{{product.backgroundImage}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.status')">Status</span>
                    </dt>
                    <dd>
                        <span>{{product.status}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.category')">Category</span>
                    </dt>
                    <dd>
                        <div v-if="product.category">
                            <router-link :to="{name: 'CategoryView', params: {categoryId: product.category.id}}">{{product.category.name}}</router-link>
                        </div>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.brand')">Brand</span>
                    </dt>
                    <dd>
                        <div v-if="product.brand">
                            <router-link :to="{name: 'BrandView', params: {brandId: product.brand.id}}">{{product.brand.name}}</router-link>
                        </div>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.returnPolicy')">Return Policy</span>
                    </dt>
                    <dd>
                        <div v-if="product.returnPolicy">
                            <router-link :to="{name: 'ReturnPolicyView', params: {returnPolicyId: product.returnPolicy.id}}">{{product.returnPolicy.name}}</router-link>
                        </div>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerceadminApp.product.productGroup')">Product Group</span>
                    </dt>
                    <dd>
                        <div v-if="product.productGroup">
                            <router-link :to="{name: 'ProductGroupView', params: {productGroupId: product.productGroup.id}}">{{product.productGroup.productGroup}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="product.id" :to="{name: 'ProductEdit', params: {productId: product.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./product-details.component.ts">
</script>
