<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerceadminApp.product.home.createOrEditLabel" v-text="$t('ecommerceadminApp.product.home.createOrEditLabel')">Create or edit a Product</h2>
                <div>
                    <div class="form-group" v-if="product.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="product.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.clientId')" for="product-clientId">Client Id</label>
                        <input type="text" class="form-control" name="clientId" id="product-clientId"
                            :class="{'valid': !$v.product.clientId.$invalid, 'invalid': $v.product.clientId.$invalid }" v-model="$v.product.clientId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.vendorCompanyId')" for="product-vendorCompanyId">Vendor Company Id</label>
                        <input type="text" class="form-control" name="vendorCompanyId" id="product-vendorCompanyId"
                            :class="{'valid': !$v.product.vendorCompanyId.$invalid, 'invalid': $v.product.vendorCompanyId.$invalid }" v-model="$v.product.vendorCompanyId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.returnDaysLimit')" for="product-returnDaysLimit">Return Days Limit</label>
                        <input type="number" class="form-control" name="returnDaysLimit" id="product-returnDaysLimit"
                            :class="{'valid': !$v.product.returnDaysLimit.$invalid, 'invalid': $v.product.returnDaysLimit.$invalid }" v-model.number="$v.product.returnDaysLimit.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.propertyCount')" for="product-propertyCount">Property Count</label>
                        <input type="number" class="form-control" name="propertyCount" id="product-propertyCount"
                            :class="{'valid': !$v.product.propertyCount.$invalid, 'invalid': $v.product.propertyCount.$invalid }" v-model.number="$v.product.propertyCount.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.descriptionCount')" for="product-descriptionCount">Description Count</label>
                        <input type="number" class="form-control" name="descriptionCount" id="product-descriptionCount"
                            :class="{'valid': !$v.product.descriptionCount.$invalid, 'invalid': $v.product.descriptionCount.$invalid }" v-model.number="$v.product.descriptionCount.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.productCategoryId')" for="product-productCategoryId">Product Category Id</label>
                        <input type="text" class="form-control" name="productCategoryId" id="product-productCategoryId"
                            :class="{'valid': !$v.product.productCategoryId.$invalid, 'invalid': $v.product.productCategoryId.$invalid }" v-model="$v.product.productCategoryId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.vendorId')" for="product-vendorId">Vendor Id</label>
                        <input type="text" class="form-control" name="vendorId" id="product-vendorId"
                            :class="{'valid': !$v.product.vendorId.$invalid, 'invalid': $v.product.vendorId.$invalid }" v-model="$v.product.vendorId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.tagCode')" for="product-tagCode">Tag Code</label>
                        <input type="text" class="form-control" name="tagCode" id="product-tagCode"
                            :class="{'valid': !$v.product.tagCode.$invalid, 'invalid': $v.product.tagCode.$invalid }" v-model="$v.product.tagCode.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.modelCode')" for="product-modelCode">Model Code</label>
                        <input type="text" class="form-control" name="modelCode" id="product-modelCode"
                            :class="{'valid': !$v.product.modelCode.$invalid, 'invalid': $v.product.modelCode.$invalid }" v-model="$v.product.modelCode.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.productName')" for="product-productName">Product Name</label>
                        <input type="text" class="form-control" name="productName" id="product-productName"
                            :class="{'valid': !$v.product.productName.$invalid, 'invalid': $v.product.productName.$invalid }" v-model="$v.product.productName.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.productId')" for="product-productId">Product Id</label>
                        <input type="text" class="form-control" name="productId" id="product-productId"
                            :class="{'valid': !$v.product.productId.$invalid, 'invalid': $v.product.productId.$invalid }" v-model="$v.product.productId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.description')" for="product-description">Description</label>
                        <input type="text" class="form-control" name="description" id="product-description"
                            :class="{'valid': !$v.product.description.$invalid, 'invalid': $v.product.description.$invalid }" v-model="$v.product.description.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.weight')" for="product-weight">Weight</label>
                        <input type="number" class="form-control" name="weight" id="product-weight"
                            :class="{'valid': !$v.product.weight.$invalid, 'invalid': $v.product.weight.$invalid }" v-model.number="$v.product.weight.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.unit')" for="product-unit">Unit</label>
                        <input type="text" class="form-control" name="unit" id="product-unit"
                            :class="{'valid': !$v.product.unit.$invalid, 'invalid': $v.product.unit.$invalid }" v-model="$v.product.unit.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.shortDescription')" for="product-shortDescription">Short Description</label>
                        <input type="text" class="form-control" name="shortDescription" id="product-shortDescription"
                            :class="{'valid': !$v.product.shortDescription.$invalid, 'invalid': $v.product.shortDescription.$invalid }" v-model="$v.product.shortDescription.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.image1')" for="product-image1">Image 1</label>
                        <input type="text" class="form-control" name="image1" id="product-image1"
                            :class="{'valid': !$v.product.image1.$invalid, 'invalid': $v.product.image1.$invalid }" v-model="$v.product.image1.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.image2')" for="product-image2">Image 2</label>
                        <input type="text" class="form-control" name="image2" id="product-image2"
                            :class="{'valid': !$v.product.image2.$invalid, 'invalid': $v.product.image2.$invalid }" v-model="$v.product.image2.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.image3')" for="product-image3">Image 3</label>
                        <input type="text" class="form-control" name="image3" id="product-image3"
                            :class="{'valid': !$v.product.image3.$invalid, 'invalid': $v.product.image3.$invalid }" v-model="$v.product.image3.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.image4')" for="product-image4">Image 4</label>
                        <input type="text" class="form-control" name="image4" id="product-image4"
                            :class="{'valid': !$v.product.image4.$invalid, 'invalid': $v.product.image4.$invalid }" v-model="$v.product.image4.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.backgroundImage')" for="product-backgroundImage">Background Image</label>
                        <input type="text" class="form-control" name="backgroundImage" id="product-backgroundImage"
                            :class="{'valid': !$v.product.backgroundImage.$invalid, 'invalid': $v.product.backgroundImage.$invalid }" v-model="$v.product.backgroundImage.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerceadminApp.product.status')" for="product-status">Status</label>
                        <input type="text" class="form-control" name="status" id="product-status"
                            :class="{'valid': !$v.product.status.$invalid, 'invalid': $v.product.status.$invalid }" v-model="$v.product.status.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerceadminApp.product.category')" for="product-category">Category</label>
                        <select class="form-control" id="product-category" name="category" v-model="product.category">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="product.category && categoryOption.id === product.category.id ? product.category : categoryOption" v-for="categoryOption in categories" :key="categoryOption.id">{{categoryOption.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerceadminApp.product.brand')" for="product-brand">Brand</label>
                        <select class="form-control" id="product-brand" name="brand" v-model="product.brand">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="product.brand && brandOption.id === product.brand.id ? product.brand : brandOption" v-for="brandOption in brands" :key="brandOption.id">{{brandOption.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerceadminApp.product.returnPolicy')" for="product-returnPolicy">Return Policy</label>
                        <select class="form-control" id="product-returnPolicy" name="returnPolicy" v-model="product.returnPolicy">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="product.returnPolicy && returnPolicyOption.id === product.returnPolicy.id ? product.returnPolicy : returnPolicyOption" v-for="returnPolicyOption in returnPolicies" :key="returnPolicyOption.id">{{returnPolicyOption.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerceadminApp.product.productGroup')" for="product-productGroup">Product Group</label>
                        <select class="form-control" id="product-productGroup" name="productGroup" v-model="product.productGroup">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="product.productGroup && productGroupOption.id === product.productGroup.id ? product.productGroup : productGroupOption" v-for="productGroupOption in productGroups" :key="productGroupOption.id">{{productGroupOption.productGroup}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.product.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./product-update.component.ts">
</script>
